@charset "UTF-8";
.header {
  z-index: 99999;
  background-color: rgba(32, 32, 32, 0.6);
  padding: 3% 0;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: top 0.4s;
}
.header .topNavContent {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  align-items: flex-start;
}
.header .topNavContent img:nth-child(3) {
  width: 15%;
}
.header .topNavContent h2 {
  margin-top: 5%;
  font-family: "Spartan", sans-serif;
  font-size: 4.6vw;
  letter-spacing: 0.1vw;
}
.header .topNavContent img:nth-child(1) {
  width: 10%;
  margin-top: 4%;
  cursor: pointer;
}
.header .navTitle {
  color: white;
  font-weight: bold;
  -webkit-transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: top 0.4s;
}
.header nav {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 127, 213, 0.98);
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.65s cubic-bezier(0.22, 1, 0.36, 1);
}
.header nav ul {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.header nav ul li {
  margin: 20% 0;
  text-align: center;
}
.header nav ul li a {
  color: white;
  font-size: 8vw;
  text-decoration: none;
  font-family: "Spartan", sans-serif;
  border-bottom: solid 2px transparent;
  transition: border 0.2s ease;
}
.header nav ul li a:hover {
  border-bottom: solid 2px white;
}
.header span {
  color: white;
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 6vw;
  cursor: pointer;
}

.raise {
  top: -20% !important;
}

#slideshow h2 {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 9.6vw;
  line-height: 11.6vw;
  margin-bottom: 7%;
}
#slideshow p {
  font-family: "Quicksand", sans-serif;
  font-size: 6vw;
  width: 85%;
  margin: 0 auto;
}

#homeServices {
  margin-top: 15%;
}
#homeServices .homeServText h2, #homeServices .homeServText h3, #homeServices .homeServText p {
  width: 85%;
  margin: 0 auto;
}
#homeServices .homeServText h2 {
  text-align: center;
  color: black;
  position: relative;
}
#homeServices .homeServText h2:after {
  content: "";
  width: 15%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease;
}
#homeServices .homeServText h3 {
  display: none;
  margin-top: 3%;
  color: black;
  font-size: 4.6vw;
}
#homeServices .homeServText h2, #homeServices .homeServText h3 {
  font-family: "Spartan", sans-serif;
}
#homeServices .homeServText p {
  font-family: "Quicksand", sans-serif;
  font-size: 4.5vw;
}
#homeServices .homeServText p:nth-child(3) {
  margin-top: 7%;
}
#homeServices .homeServText p:nth-child(4) {
  display: none;
}
#homeServices .homeServIcons {
  width: 85%;
  margin: 8% auto 0;
}
#homeServices .homeServIcons div {
  display: flex;
  width: 80%;
  border-radius: 5vw;
  margin: 5% auto 9%;
  padding: 8% 0 12%;
  background-color: rgba(255, 255, 255, 0.6);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0.3rem 1.3rem rgba(0, 0, 0, 0.3);
}
#homeServices .homeServIcons div img {
  width: 60%;
  margin: 2% auto 0;
}
#homeServices .homeServIcons div:hover h3:after {
  width: 35%;
}
#homeServices .homeServIcons div h3 {
  margin-top: 9%;
  margin-bottom: 3%;
  color: black;
  font-family: "Spartan", sans-serif;
  position: relative;
}
#homeServices .homeServIcons div h3:after {
  content: "";
  width: 15%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease;
}

#homeTestimonials .testimonialSlick {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/slick3.jpg");
  background-size: cover;
  color: white;
}
#homeTestimonials .testimonialSlick .slick-list {
  margin: 13% auto;
  width: 90%;
}
#homeTestimonials .testimonialSlick .slick-list .slick-track {
  padding: 5% 0;
}
#homeTestimonials .testimonialSlick .slick-list .slick-track .slick-slide {
  display: flex;
  flex-direction: column;
}
#homeTestimonials .testimonialSlick .slick-list .slick-track .slick-slide p {
  margin: 2% 0 7%;
  font-family: "Quicksand", sans-serif;
  font-size: 5vw;
}
#homeTestimonials .testimonialSlick .slick-list .slick-track .slick-slide h3 {
  font-family: "Spartan", sans-serif;
  position: relative;
  margin-bottom: 4%;
}
#homeTestimonials .testimonialSlick .slick-list .slick-track .slick-slide h3:after {
  content: "";
  width: 25%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homeProjects {
  margin-top: 20%;
}
#homeProjects h2 {
  text-align: center;
  position: relative;
  margin: 0 auto 17%;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 5.6vw;
}
#homeProjects h2:after {
  content: "";
  width: 10%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#homeProjects .homeProjectSlide {
  text-align: center;
}
#homeProjects .homeProjectSlide .slick-list {
  border-radius: 5vw;
}
#homeProjects .homeProjectSlide h3 {
  margin-bottom: 3%;
  font-family: "Spartan", sans-serif;
}
#homeProjects .homeProjectSlide .projectSlick {
  width: 85%;
  margin: 0 auto 13%;
}
#homeProjects .homeProjBtn {
  width: 50%;
  margin: 0 auto;
  border: 2px black solid;
  padding: 5% 0 5%;
  border-radius: 150vw;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
}
#homeProjects .homeProjBtn:hover {
  background-color: black;
  border: white solid 2px;
  color: white;
}

#homeCTA {
  margin: 20% 0 10%;
  padding: 9% 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/slick3.jpg");
  background-size: cover;
}
#homeCTA h4 {
  margin: 0 0 5%;
  font-family: "Spartan", sans-serif;
  color: white;
  font-weight: 600;
}
#homeCTA .homeCTABtn {
  width: 45%;
  margin: 0 auto;
  border: 2px white solid;
  padding: 5% 0 5%;
  font-size: 5vw;
  border-radius: 150vw;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
}
#homeCTA .homeCTABtn:hover {
  background-color: white;
  border: transparent solid 2px;
  color: black;
}

#about .aboutHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/slick1.jpg");
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
#about .aboutHeader h2 {
  color: white;
  font-family: "Spartan", sans-serif;
  font-size: 9vw;
  font-weight: 600;
}
#about .aboutCon #aboutInfo {
  width: 90%;
  margin: 0 auto;
}
#about .aboutCon #aboutInfo div img {
  width: 100%;
  border-radius: 3vw;
  margin-bottom: 4%;
}
#about .aboutCon #aboutInfo div h3, #about .aboutCon #aboutInfo div h4 {
  margin-top: 2%;
  font-family: "Spartan", sans-serif;
}
#about .aboutCon #aboutInfo div h3 {
  font-weight: normal;
}
#about .aboutCon #aboutInfo div h4 {
  font-weight: 300;
  margin-bottom: 3%;
  font-size: 4.4vw;
  color: rgba(0, 0, 0, 0.651);
}
#about .aboutCon #aboutInfo div p {
  font-family: "Quicksand", sans-serif;
  font-size: 4.6vw;
  line-height: 5vw;
}
#about .aboutCon #aboutServices {
  margin: 20% 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/slick3.jpg");
  background-size: cover;
  padding-bottom: 12%;
}
#about .aboutCon #aboutServices .aboutServicesCon {
  width: 90%;
  margin: 0 auto;
}
#about .aboutCon #aboutServices .aboutServicesCon .aboutServiceContent {
  color: white;
  height: 49vh;
  overflow: scroll;
}
#about .aboutCon #aboutServices .aboutServicesCon .aboutServiceContent h4 {
  text-align: center;
  color: white;
  padding-top: 12%;
  margin-bottom: 13%;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 7vw;
  position: relative;
}
#about .aboutCon #aboutServices .aboutServicesCon .aboutServiceContent h4:after {
  content: "";
  width: 25%;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about .aboutCon #aboutServices .aboutServicesCon .aboutServiceContent p {
  font-family: "Quicksand", sans-serif;
  font-size: 4.6vw;
}
#about .aboutCon #aboutServices .aboutServiceBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3%;
}
#about .aboutCon #aboutServices .aboutServiceBtns div {
  width: 35%;
  padding: 0 5.5% 2%;
  margin-top: 6%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.308);
  border: transparent 3px solid;
  transition: border 0.2s ease, border-radius 0.2s ease;
  border-radius: 0vw;
}
#about .aboutCon #aboutServices .aboutServiceBtns div.highlighted {
  border-radius: 5vw;
  border: solid 3px #2a7fd5;
}
#about .aboutCon #aboutServices .aboutServiceBtns div.highlighted span {
  color: white;
}
#about .aboutCon #aboutServices .aboutServiceBtns div img {
  width: 70%;
  display: flex;
  margin: 5% auto;
  padding: 4% 0;
}
#about .aboutCon #aboutServices .aboutServiceBtns div span {
  font-family: "Spartan", sans-serif;
  transition: color 0.2s ease;
}
#about .aboutCon #aboutCta {
  width: 90%;
  margin: 0 auto 8%;
}
#about .aboutCon #aboutCta div img {
  width: 100%;
  border-radius: 3vw;
}
#about .aboutCon #aboutCta div h3 {
  margin-top: 7%;
  font-family: "Spartan", sans-serif;
}
#about .aboutCon #aboutCta div p {
  margin: 4% 0 10%;
  font-family: "Quicksand", sans-serif;
  font-size: 4.6vw;
  line-height: 5vw;
}
#about .aboutCon #aboutCta div a {
  width: 50%;
  margin: 0 auto;
  border: 2px black solid;
  padding: 5% 0 5%;
  border-radius: 150vw;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
}
#about .aboutCon #aboutCta div a:hover {
  background-color: black;
  border: white solid 2px;
  color: white;
}

#projects .filterBtns {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#projects .filterBtns div {
  width: 30%;
  padding: 4% 3%;
  border-radius: 8vw;
  border: solid 2px black;
  color: black;
  text-align: center;
  margin: 2% 0;
  font-family: "Spartan", sans-serif;
  font-size: 4vw;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}
#projects .filterBtns div:hover {
  background-color: black;
  color: white;
  border: solid 2px white;
}
#projects .projectsCon {
  display: flex;
  width: 85%;
  margin: 10% auto 0;
  flex-direction: column;
  justify-content: center;
}
#projects .projectsCon .project {
  width: 100%;
  margin: 4% 0;
  overflow: hidden;
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-radius: 5vw;
}
#projects .projectsCon .project:hover div {
  transform: scale(1.5);
  filter: brightness(0.4);
}
#projects .projectsCon .project:hover h3 {
  font-size: 10vw;
}
#projects .projectsCon .project h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: white;
  font-size: 8vw;
  font-weight: 500;
  font-family: "Spartan", sans-serif;
  transition: font-size 0.25s ease;
}
#projects .projectsCon .project div {
  overflow: hidden;
  filter: brightness(0.55);
  transition: transform 0.25s ease, filter 0.25s ease;
}
#projects .projectsCon .project div img {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 250px;
}
#projects .lbCon {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 100%;
  display: none;
}
#projects .lbCon .projLb {
  margin: 0.5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1vw;
  overflow: auto;
  max-height: calc(100vh - 1rem);
  scrollbar-width: none;
}
#projects .lbCon .projLb::-webkit-scrollbar {
  display: none;
}
#projects .lbCon .projLb .lbTop {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
}
#projects .lbCon .projLb .lbTop h2 {
  font-family: "Spartan", sans-serif;
  text-transform: capitalize;
  font-size: 6vw;
}
#projects .lbCon .projLb .lbMain {
  margin-top: 8%;
}
#projects .lbCon .projLb .lbMain h2, #projects .lbCon .projLb .lbMain h3 {
  font-family: "Spartan", sans-serif;
}
#projects .lbCon .projLb .lbMain h2 {
  text-align: center;
  font-size: 6.4vw;
  position: relative;
}
#projects .lbCon .projLb .lbMain h2:after {
  content: "";
  width: 10%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#projects .lbCon .projLb .lbMain h3 {
  margin: 10% 0 6%;
  text-align: center;
  font-weight: 300;
}
#projects .lbCon .projLb .lbMain .lbSlick {
  width: 90%;
  margin: 0 auto;
}
#projects .lbCon .projLb .lbMain .lbSlick .slick-list {
  border-radius: 2vw;
}
#projects .lbCon .projLb .lbMain p {
  width: 85%;
  margin: 9% auto 0;
  font-family: "Quicksand", sans-serif;
  line-height: 5.5vw;
  font-size: 4.6vw;
}
#projects .lbCon .projLb .lbMain p:nth-child(5) {
  margin-bottom: 13%;
  margin-top: 5%;
}

.lbBckOn {
  animation: bckOn 0.3s;
  animation-fill-mode: forwards;
}

@keyframes bckOn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.lbBckOff {
  animation: bckOff 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes bckOff {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
.fade-in-top {
  -webkit-animation: fade-in-top 0.3s both;
  animation: fade-in-top 0.3s both;
  animation-delay: 0.15s;
  display: block;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-out-top {
  -webkit-animation: fade-out-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.15s;
}

@-webkit-keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}
#services .servicesHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/slick1.jpg");
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
#services .servicesHeader h2 {
  color: white;
  font-family: "Spartan", sans-serif;
  font-size: 9vw;
  font-weight: 600;
}
#services .servicesCon .serviceInfo {
  width: 85%;
  margin: 0 auto;
}
#services .servicesCon .serviceInfo h3 {
  text-align: center;
  font-family: "Spartan", sans-serif;
  position: relative;
  font-size: 5.5vw;
  font-weight: 500;
}
#services .servicesCon .serviceInfo h3::after {
  content: "";
  width: 15%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#services .servicesCon .serviceInfo p {
  font-family: "Quicksand", sans-serif;
  margin-top: 10%;
  font-size: 4.6vw;
  margin-bottom: 15%;
  text-align: center;
}
#services .servicesCon .banner:hover.serviceItem {
  height: 75vh;
}
#services .servicesCon .serviceItem {
  width: 85%;
  margin: 0 auto 10%;
  background-color: rgba(231, 231, 231, 0.322);
  border-radius: 5vw;
  padding-bottom: 4%;
  box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  height: 67vh;
  transition: height 0.4s ease;
  overflow: hidden;
}
#services .servicesCon .serviceItem .banner {
  border-radius: 5vw 5vw 0vw 0vw;
  padding: 4% 0 4%;
  margin-bottom: 22%;
  height: 20vh;
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: height 0.4s ease;
  background-position: center !important;
}
#services .servicesCon .serviceItem .banner:hover {
  height: 100%;
}
#services .servicesCon .serviceItem .banner:hover img {
  opacity: 0;
}
#services .servicesCon .serviceItem .banner img {
  width: 29%;
  display: flex;
  border-radius: 160vw;
  background-color: #e7e7e7;
  padding: 3.4%;
  transform: translateY(50%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
#services .servicesCon .serviceItem .banner img:hover {
  width: 36%;
}
#services .servicesCon .serviceItem h3 {
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 6vw;
  position: relative;
}
#services .servicesCon .serviceItem h3::after {
  content: "";
  width: 15%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#services .servicesCon .serviceItem p {
  margin: 9% 0 6%;
  padding: 0 10%;
  line-height: 6vw;
  font-family: "Quicksand", sans-serif;
  font-size: 4.5vw;
}

#contact .contactHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/slick3.jpg");
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .contactHeader h2 {
  color: white;
  font-family: "Spartan", sans-serif;
  font-size: 9vw;
  font-weight: 600;
}
#contact .contactInfo {
  background-color: #2a7fd5;
  padding: 8% 0;
  margin-bottom: 5%;
}
#contact .contactInfo div {
  width: 80%;
  margin: 0 auto;
}
#contact .contactInfo div a {
  text-decoration: none;
}
#contact .contactInfo div a h3 {
  color: white;
  font-size: 5vw;
  font-family: "Spartan", sans-serif;
}
#contact .contactInfo div #contEmail {
  display: flex;
  align-items: center;
  margin: 5% 0 10%;
}
#contact .contactInfo div #contEmail::before {
  content: url(../images/email.svg);
  width: 20%;
  display: flex;
  padding-right: 2%;
}
#contact .contactInfo div #contPhone {
  display: flex;
  align-items: center;
  margin: 0 0 5%;
}
#contact .contactInfo div #contPhone::before {
  content: url(../images/phone.svg);
  width: 12%;
  display: flex;
  padding-right: 8%;
  margin-left: 2%;
}
#contact .contactCon {
  margin-bottom: 15%;
}
#contact .contactCon .formWrapper form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#contact .contactCon .formWrapper form .contactInput {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#contact .contactCon .formWrapper form .contactInput label {
  position: absolute;
  opacity: 0;
}
#contact .contactCon .formWrapper form .contactInput:focus-within div {
  width: 100%;
}
#contact .contactCon .formWrapper form .contactInput input {
  border: none;
  position: relative;
  margin: 10% 0 0;
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-size: 5vw;
}
#contact .contactCon .formWrapper form .contactInput input:focus {
  outline: none !important;
}
#contact .contactCon .formWrapper form .contactInput input::placeholder {
  text-align: center;
  color: black;
  opacity: 1;
}
#contact .contactCon .formWrapper form .contactInput div {
  margin: 1% auto 0;
  width: 45%;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease;
}
#contact .contactCon .formWrapper form .contactInput textarea {
  margin-top: 10%;
  height: 20vh;
  padding: 2% 3%;
  font-family: "Quicksand", sans-serif;
  font-size: 4.4vw;
  border: none;
  border: solid 2px black;
  transition: border-radius 0.2s ease;
}
#contact .contactCon .formWrapper form .contactInput textarea:focus {
  border-radius: 3vw;
  outline: none !important;
}
#contact .contactCon .formWrapper form .contactInput textarea::placeholder {
  opacity: 1;
  color: black;
}
#contact .contactCon .formWrapper form button {
  width: 40%;
  margin: 5% auto 0;
  border: 2px black solid;
  padding: 3.5% 0 3.5%;
  border-radius: 150vw;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 4.8vw;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
}
#contact .contactCon .formWrapper form button:hover {
  background-color: black;
  border: white solid 2px;
  color: white;
}

.slick-track {
  height: 100%;
}

.header {
  position: fixed;
  z-index: 99999;
}

.slick-list {
  height: 100%;
}

.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#slideshow .slick-slider .slick-track, #slideshow .slick-slider .slick-list {
  -webkit-transform: none !important;
  /* Safari and Chrome */
  -moz-transform: none !important;
  /* Firefox */
  -ms-transform: none !important;
  /* IE 9 */
  -o-transform: none !important;
  /* Opera */
  transform: none !important;
}
#slideshow .slick {
  height: 100vh;
}
#slideshow .slick .slickText {
  color: white;
  line-height: 7vw;
  font-weight: bold;
}
#slideshow .slick .slick1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/slick1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#slideshow .slick .slick2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/slick2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#slideshow .slick .slick3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/slick3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.slick-dots {
  margin-top: -10%;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  content: "•";
  font-size: 8vw;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 1;
  color: white;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 2% 0;
  }
  .header .topNavContent img:nth-child(1), .header .topNavContent img:nth-child(3) {
    width: 11%;
  }

  #homeServices .homeServText {
    width: 80%;
    margin: 0 auto;
  }
  #homeServices .homeServIcons {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
  }
  #homeServices .homeServIcons div {
    width: 43%;
    margin: 3% auto;
  }

  #homeProjects h2 {
    width: 22%;
    line-height: 4vw;
  }
  #homeProjects .homeProjectSlide .projectSlick {
    margin: 0 auto 13%;
    width: 70%;
  }
  #homeProjects .homeProjBtn {
    width: 24%;
    border-radius: 1vw;
    padding: 2.5% 0;
  }

  .slick-dots {
    margin-top: -10%;
  }

  .slick-dots li button::before {
    font-size: 6vw;
    left: auto;
  }

  #homeCTA {
    padding: 3% 0;
  }
  #homeCTA .homeCTABtn {
    width: 24%;
    border-radius: 1vw;
    padding: 2.5% 0;
  }
}
@media screen and (min-width: 1366px) {
  .header {
    padding: 0.5% 0;
  }
  .header .topNavContent {
    width: 90%;
  }
  .header .topNavContent img:nth-child(1), .header .topNavContent img:nth-child(3) {
    width: 5%;
  }
  .header .topNavContent img:nth-child(1) {
    margin-top: 1%;
  }
  .header .topNavContent h2 {
    margin-top: 2.2%;
  }

  #homeServices {
    display: flex;
  }
  #homeServices .homeServText {
    display: flex;
    flex-direction: column;
  }
  #homeServices .homeServText h2, #homeServices .homeServText h3, #homeServices .homeServText p {
    width: 70%;
  }
  #homeServices .homeServText p:nth-child(4) {
    display: block;
    margin-top: 5%;
  }
  #homeServices .homeServIcons {
    margin-top: 0;
  }
  #homeServices .homeServIcons div {
    margin-top: 0;
  }
  #homeServices .homeServIcons div img {
    width: 59%;
    margin: 0 auto;
  }

  #services .servicesCon {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
  }
  #services .servicesCon .serviceItem {
    width: 28%;
    margin: 0 auto 6%;
    background-color: rgba(231, 231, 231, 0.322);
    border-radius: 1vw;
    padding-bottom: 2%;
    box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
    height: auto;
    transition: height 0.4s ease;
    overflow: hidden;
  }
  #services .servicesCon .serviceItem .banner {
    border-radius: 1vw 1vw 0vw 0vw;
    padding: 0;
  }
  #services .servicesCon .serviceItem .banner:hover {
    padding: 4% 0;
  }
  #services .servicesCon .serviceItem .banner img {
    width: 26%;
    transform: translateY(50%);
  }
  #services .servicesCon .serviceItem h3 {
    font-size: 1.2vw;
  }
  #services .servicesCon .serviceItem p {
    line-height: 1vw;
  }
}
@media screen and (min-width: 1680px) {
  #homeServices {
    width: 90%;
    margin: 7% auto 0;
  }
  #homeServices .homeServIcons {
    justify-content: center;
    width: 65%;
  }
  #homeServices .homeServIcons div {
    margin-top: 0;
    margin-left: 3%;
    margin-right: 3%;
    width: 40%;
  }
  #homeServices .homeServText {
    width: 65%;
  }

  #projects .projectsCon {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 10% auto 0;
    justify-content: center;
    flex-direction: row;
  }
  #projects .projectsCon .project {
    width: 31%;
    overflow: hidden;
    margin: 0 1% 2% 0;
    display: inline-block;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  #projects .projectsCon .project h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: font-size 0.2s ease;
    color: white;
    font-size: 1.8vw;
  }
  #projects .projectsCon .project h3:hover {
    font-size: 2.2vw;
  }
  #projects .projectsCon .project div {
    overflow: hidden;
    transition: all 0.2s ease;
    filter: brightness(0.6);
  }
  #projects .projectsCon .project div:hover {
    transform: scale(1.5);
    filter: brightness(0.5);
  }
  #projects .projectsCon .project div img {
    width: 100%;
    display: flex;
    margin-bottom: 10%;
    overflow: hidden;
    margin: 0 auto;
  }
}
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f4f5 !important;
}

.noScroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.test {
  animation: removeContent 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

.test2 {
  position: relative;
  animation: addContent 0.8s ease;
  animation-fill-mode: forwards;
}

@keyframes removeContent {
  0% {
    visibility: visible;
  }
  40% {
    opacity: 0;
  }
  99% {
    width: 31%;
    height: auto;
    position: relative;
    top: 0;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: -50%;
  }
}
@keyframes addContent {
  0% {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    display: none !important;
  }
  20% {
    opacity: 0;
  }
  79% {
    position: absolute;
    top: -50%;
  }
  80% {
    width: 31%;
    height: auto;
    opacity: 0;
    position: relative;
    top: 0;
  }
}
.navReveal {
  height: 100% !important;
}

/*# sourceMappingURL=main.css.map */
