@import '_vars.scss';
@import 'modules/_nav';
@import 'modules/_home';
@import 'modules/_about';
@import 'modules/_projects';
@import 'modules/_services';
@import 'modules/_slick';
@import 'modules/_queries';

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f5 !important;
  }

  .noScroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .test {
    animation: removeContent 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    animation-fill-mode: forwards;
  }

  .test2 {
    position: relative;
    animation: addContent 0.8s ease;
    animation-fill-mode: forwards;
  }

  @keyframes removeContent {
    0% {visibility: visible;}
    40% {opacity: 0;}
    99% {width: 31%; height: auto; position: relative; top: 0;}
    100% {visibility: hidden; width: 0; height: 0; opacity: 0; position: absolute; top: -50%;}
  }

  @keyframes addContent {
    0% {visibility: hidden; opacity: 0; width: 0; height: 0; display: none !important;}
    20% {opacity: 0;}
    79% {position: absolute; top: -50%;}
    80% {width: 31%; height: auto; opacity: 0; position: relative; top: 0;}
  }
