@import 'modules/_nav';
@import 'modules/_slick';
@import 'modules/_homeServices';
@import 'modules/_homeTestimonial';

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

