#about {

    .aboutHeader {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url('../images/slick1.jpg');
        height: 40vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;

        h2 {
            color: white;
            font-family: $headings;
            font-size: 9vw;
            font-weight: 600;
        }
    }

    .aboutCon {

        #aboutInfo {
            width: 90%;
            margin: 0 auto;
    
            div {
                img {
                    width: 100%;
                    border-radius: 3vw;
                    margin-bottom: 4%;
                }

                h3, h4{
                    margin-top: 2%;
                    font-family: $headings;
                }

                h3 {
                    font-weight: normal;
                }

                h4 {
                    font-weight: 300;
                    margin-bottom: 3%;
                    font-size: 4.4vw;
                    color: rgba(0, 0, 0, 0.651);
                }

                p {
                    font-family: $paragraphs;
                    font-size: 4.6vw;
                    line-height: 5vw;
                }
            }
        }
    
        #aboutServices {
            margin: 20% 0;
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/slick3.jpg');
            background-size: cover;
            padding-bottom: 12%;

            .aboutServicesCon {
                width: 90%;
                margin: 0 auto;

                .aboutServiceContent {
                    color: white;
                    height: 49vh;
                    overflow: scroll;

                    h4 {
                        text-align: center;
                        color: white;
                        padding-top: 12%;
                        margin-bottom: 13%;
                        font-family: $headings;
                        font-weight: 500;
                        font-size: 7vw;
                        position: relative;
                    }
    
                    h4:after {
                        content: '';
                        width: 25%;
                        height: 3px;
                        background-color: white;
                        position: absolute;
                        top: 120%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    p {
                        font-family: $paragraphs;
                        font-size: 4.6vw;
                    }
                }
            }

            .aboutServiceBtns {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 3%;

                div {
                    width: 35%;
                    padding: 0 5.5% 2%;
                    margin-top: 6%;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.308);
                    border: transparent 3px solid;
                    transition: border 0.2s ease, border-radius 0.2s ease;
                    border-radius: 0vw;

                    &.highlighted {
                        border-radius: 5vw;
                        border: solid 3px $main-color;

                        span {
                            color: white;
                        }
                    }

                    img {
                        width: 70%;
                        display: flex;
                        margin: 5% auto;
                        padding: 4% 0;
                    }

                    span {
                        font-family: $headings;
                        transition: color 0.2s ease;
                    }

                }
            }

        }
    
        #aboutCta {
            width: 90%;
            margin: 0 auto 8%;
    
            div {
                img {
                    width: 100%;
                    border-radius: 3vw;
                }

                h3 {
                    margin-top: 7%;
                    font-family: $headings;
                }

                p {
                    margin: 4% 0 10%;
                    font-family: $paragraphs;
                    font-size: 4.6vw;
                    line-height: 5vw;
                }

                a {
                    width: 50%;
                    margin: 0 auto;
                    border: 2px black solid;
                    padding: 5% 0 5%;
                    border-radius: 150vw;
                    color: black;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    font-family: $paragraphs;
                    font-weight: 600;
                    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
                    
                    &:hover {
                        background-color: black;
                        border: white solid 2px;
                        color: white;
                    }
                }
            }
        }
    }
}