#about {

    .aboutHeader {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url('../images/slick1.jpg');
        height: 40vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;

        h2 {
            color: white;
            font-family: $headings;
            font-size: 9vw;
            font-weight: 600;
        }
    }

    .aboutCon {

        #aboutInfo {
            width: 90%;
            margin: 0 auto;
    
            div {
                img {
                    width: 100%;
                }

                h3, h4{
                    margin-top: 2%;
                    font-family: $headings;
                }

                h3 {
                    font-weight: normal;
                }

                h4 {
                    font-weight: 300;
                    margin-bottom: 3%;
                    font-size: 4vw;
                    color: rgba(0, 0, 0, 0.651);
                }
            }
        }
    
        #aboutServices {
            margin: 20% 0;
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/slick3.jpg');
            background-size: cover;
            padding-bottom: 12%;

            .aboutServicesCon {
                width: 90%;
                margin: 0 auto;

                .aboutServiceContent {
                    color: white;
                    height: 44vh;
                    overflow: scroll;

                    h4 {
                        text-align: center;
                        color: white;
                        padding-top: 12%;
                        margin-bottom: 13%;
                        font-family: $headings;
                        font-weight: 500;
                        font-size: 7vw;
                        position: relative;
                    }
    
                    h4:after {
                        content: '';
                        width: 25%;
                        height: 3px;
                        background-color: white;
                        position: absolute;
                        top: 120%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .aboutServiceBtns {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 9%;

                div {
                    width: 35%;
                    padding: 0 5.5% 2%;
                    margin-top: 6%;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.308);
                    border: transparent 3px solid;
                    transition: border 0.2s ease, border-radius 0.2s ease;
                    border-radius: 0vw;

                    &.highlighted {
                        border: solid 3px rgb(220, 226, 138);
                        border-radius: 2vw;
                    }

                    img {
                        width: 50%;
                        display: flex;
                        margin: 5% auto;
                    }

                }
            }

        }
    
        #aboutCta {
            width: 90%;
            margin: 0 auto 8%;
    
            div {
                img {
                    width: 100%;
                }

                h3 {
                    margin-top: 7%;
                    font-family: $headings;
                }

                p {
                    margin: 2% 0 5%;
                }
            }
        }
    }
}