#homeServices {
    margin-top: 15%;
    .homeServText {
        h2, h3, p {
            width: 85%;
            margin: 0 auto;
        }

        h2 {
            text-align: center;
            background-color: #222;
            color: white;
        }

        h3 {
            background-color: #222;
            margin-top: 2%;
            color: white;
        }

        p:nth-child(3) {
            margin-top: 4%;
        }

        p:nth-child(4) {
            display: none;
        }

    }

    .homeServIcons {
        width: 85%;
        margin: 8% auto 0;

        div {
            display: flex;
            width: 85%;
            margin: 5% auto;
            padding: 4% 0;
            background-color: #666;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            img {
               width: 65%;
               margin: 2% auto 0; 
            }

            h3 {
                margin-top: 7%;
                margin-bottom: 3%;
                color: white;
                background-color: #222;
            }
        }
    }
}