#homeTestimonials {
    .testimonialSlick {
        .slick-list {
            .slick-track {
                .slick-slide {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}