#slideshow {
    h2 {
        font-family: $headings;
        font-weight: 700;
        font-size: 9.6vw;
        line-height: 11.6vw;
        margin-bottom: 7%;
    }

    p {
        font-family: $paragraphs;
        font-size: 6vw;
        width: 85%;
        margin: 0 auto;
    }
}

#homeServices {
    margin-top: 15%;
    .homeServText {
        h2, h3, p {
            width: 85%;
            margin: 0 auto;
        }

        h2 {
            text-align: center;
            color: black;
            position: relative;

                &:after {
                    content: '';
                    width: 15%;
                    height: 2px;
                    background-color: black;
                    position: absolute;
                    top: 140%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: width 0.2s ease;
                }
        }

        h3 {
            display: none;
            margin-top: 3%;
            color: black;
            font-size: 4.6vw;
        }

        h2, h3 {
            font-family: $headings;
        }

        p {
            font-family: $paragraphs;
            font-size: 4.5vw;
        }

        p:nth-child(3) {
            margin: 11% auto;
        }

        p:nth-child(4) {
            display: none;
        }

    }

    .homeServIcons {
        width: 85%;
        margin: 8% auto 0;

        div {
            display: flex;
            width: 80%;
            border-radius: 5vw;
            margin: 5% auto 9%;
            padding: 8% 0 12%;
            background-color: rgba($color: white, $alpha: 0.6);
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0px 0.3rem 1.3rem rgba(0,0,0,0.3);
            transition: box-shadow 0.2s ease;
            transform: scale(0);

            img {
               width: 60%;
               margin: 2% auto 0; 
            }

            &:hover {
                h3 {
                    color: $main-color;
                }
                h3:after {
                    width: 35%;
                    background-color: $main-color;
                }

                box-shadow: 0px 0.3rem 1.3rem rgba($color: #1d5a97, $alpha: 0.7);
            }

            h3 {
                margin-top: 9%;
                margin-bottom: 3%;
                color: black;
                font-family: $headings;
                position: relative;
                transition: color 0.2s ease;

                &:after {
                    content: '';
                    width: 15%;
                    height: 2px;
                    background-color: black;
                    position: absolute;
                    top: 170%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: width 0.2s ease, background-color 0.2s ease;
                }
            }
        }
    }
}






#homeTestimonials {
    .testimonialSlick {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/slick3.jpg');
        background-size: cover;
        color: white;
        .slick-list {
            margin: 13% auto;
            width: 90%;
            .slick-track {
                padding: 5% 0;
                .slick-slide {
                    display: flex;
                    flex-direction: column;

                    p {
                        margin: 2% 0 7%;
                        font-family: $paragraphs;
                        font-size: 4.6vw;
                    }

                    h3 {
                        font-family: $headings;
                        position: relative;
                        margin-bottom: 4%;
                        font-size: 5vw;

                        &:after {
                            content: '';
                            width: 25%;
                            height: 2px;
                            background-color: white;
                            position: absolute;
                            top: 140%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}



#homeProjects {
    margin-top: 20%;
    h2 {
        text-align: center;
        position: relative;
        margin: 0 auto 17%;
        font-family: $headings;
        font-weight: 500;
        font-size: 5.6vw;

        &:after {
            content: '';
            width: 10%;
            height: 2px;
            background-color: #000000;
            position: absolute;
            top: 160%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    #macy {
        width: 80%;
        margin: 0 auto;
        .box {
            img {
                width: 100%;
                height: auto;
                display: block;
                filter: brightness(0.9);
            }

            &:nth-child(n+4) {
                display: none;
            }
        }
    }

    .homeProjBtn {
        width: 50%;
        margin: 10% auto 0;
        border: 2px black solid;
        padding: 5% 0 5%;
        border-radius: 150vw;
        color: black;
        text-decoration: none;
        display: flex;
        justify-content: center;
        font-family: $paragraphs;
        font-weight: 600;
        transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
        
        &:hover {
            background-color: $main-color;
            border: white solid 2px;
            color: white;
        }
    }
}

#homeCTA {
    margin: 20% 0 10%;
    padding: 9% 0;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/slick3.jpg');
    background-size: cover;

    h4 {
        margin: 0 0 5%;
        font-family: $headings;
        color: white;
        font-weight: 600;
    }

    .homeCTABtn {
        width: 45%;
        margin: 10% auto 0;
        border: 2px white solid;
        padding: 5% 0 5%;
        border-radius: 150vw;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        font-family: $paragraphs;
        font-weight: 600;
        transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
        
        &:hover {
            background-color: $main-color;
            border: transparent solid 2px;
            color: white;
        }
    }
}