.header {
    z-index: 99999;
        background-color: rgba($color: #202020, $alpha: 0.6);
        padding: 3% 0;
        position: fixed;
        top: 0;
        width: 100%;
        -webkit-transition: top .40s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: top .40s cubic-bezier(0.075, 0.82, 0.165, 1);
        -ms-transition: top .40s cubic-bezier(0.075, 0.82, 0.165, 1);
        -o-transition: top .40s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: top .40s;

    .topNavContent {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
        align-items: flex-start;
        img:nth-child(3) {
            width: 15%;
        }

        h2 {
            margin-top: 5%;
            font-family: $headings;
            font-size: 4.6vw;
            letter-spacing: 0.1vw;
        }

        img:nth-child(1) {
            width: 10%;
            margin-top: 4%;
            cursor: pointer;
        }
    }

    .navTitle {
        color: white;
        font-weight: bold;
        -webkit-transition: top .40s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: top .40s cubic-bezier(0.075, 0.82, 0.165, 1);
        -ms-transition: top .40s cubic-bezier(0.075, 0.82, 0.165, 1);
        -o-transition: top .40s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: top .40s;
    }

    nav {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba($color: $main-color, $alpha: 0.98);
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.65s cubic-bezier(0.22, 1, 0.36, 1);

        ul {
            position: absolute;
            top: 50%; right: 50%;
            transform: translate(50%,-50%);

            li {
                margin: 20% 0;
                text-align: center;
                a {
                    color: white;
                    font-size: 8vw;
                    text-decoration: none;
                    font-family: $headings;
                    border-bottom: solid 2px transparent;
                    transition: border 0.2s ease;

                    &:hover {
                        border-bottom: solid 2px white;
                    }
                    
                }
            }
        }
    }

    span {
        color: white;
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 6vw;
        cursor: pointer;
    }
}

.raise {
    top: -20% !important;
}