#projects {
    .filterBtns {
      margin-top: 20%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      div {
        width: 30%;
        padding: 4% 3%;
        border-radius: 8vw;
        border: solid 2px black;
        color: black;
        text-align: center;
        margin: 2% 0;
        font-family: $headings;
        font-size: 4vw;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          background-color: black;
          color: white;
          border: solid 2px white;
        }
      }
    }

    .projectsCon {
        display: flex;
            width: 85%;
            margin: 10% auto 0;
            flex-direction: column;
            justify-content: center;
        .project {
            width: 100%;
            margin: 4% 0;
            overflow: hidden;
            display: block;
            text-align: center;
            position: relative;
            cursor: pointer;
            border-radius: 5vw;

            &:hover {
              div {
                transform: scale(1.5);
              filter: brightness(0.4);
              }
              h3 {
                font-size: 10vw;
              }
          }

            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                color: white;
                font-size: 8vw;
                font-weight: 500;
                font-family: $headings;
                transition: font-size 0.25s ease;
            }
            div {
                overflow: hidden;
                filter: brightness(0.55);
                transition: transform 0.25s ease, filter 0.25s ease;
                img {
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    height: 250px;
                }
            }
        }
    }

    .lbCon {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        height: 100%;
        display: none;

        .projLb {
            margin: .5rem;
            background-color: white;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 1vw;
            overflow: auto;
            max-height: calc(100vh - 1rem);
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }

            .lbTop {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding: 1rem 1rem;
                border-bottom: 1px solid #dee2e6;

                h2 {
                  font-family: $headings;
                  text-transform: capitalize;
                  font-size: 6vw;
                }
            }

            .lbMain {
                margin-top: 8%;

                h2, h3 {
                  font-family: $headings;
                }

                h2 {
                    text-align: center;
                    font-size: 6.4vw;
                    position: relative;

                    &:after {
                      content: '';
                      width: 10%;
                      height: 2px;
                      background-color: black;
                      position: absolute;
                      top: 150%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                  }
                }

                h3 {
                    margin: 10% 0 6%;
                    text-align: center;
                    font-weight: 300;
                }

                .lbSlick {
                    width: 90%;
                    margin: 0 auto;

                    .slick-list {
                        border-radius: 2vw;
                    }
                }

                p {
                    width: 85%;
                    margin: 9% auto 0;
                    font-family: $paragraphs;
                    line-height: 5.5vw;
                    font-size: 4.6vw;
                }

                p:nth-child(5) {
                    margin-bottom: 13%;
                    margin-top: 5%;
                }
            }
        }
    }
}

.lbBckOn {
    animation: bckOn 0.3s;
    animation-fill-mode: forwards;
}

@keyframes bckOn {
    0% {background-color: transparent;}
    100% {background-color: rgba(0, 0, 0, 0.5);}
}

.lbBckOff {
    animation: bckOff 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes bckOff {
    0% {background-color: rgba(0,0,0,.5);}
    100% {background-color: transparent;}
}

.fade-in-top {
	-webkit-animation: fade-in-top 0.3s both;
            animation: fade-in-top 0.3s both;
            animation-delay: 0.15s;
            display: block;
}

 @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .fade-out-top {
	-webkit-animation: fade-out-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: fade-out-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.15s;
}


 @-webkit-keyframes fade-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
  }
  @keyframes fade-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
  }
  
  