#projects {
    .projectsCon {
        display: flex;
            flex-wrap: wrap;
            width: 60%;
            margin: 10% auto 0;
            justify-content: center;
        .project {
            width: 31%;
            overflow: hidden;
            margin: 0 1% 2% 0;
            display: inline-block;
            text-align: center;
            position: relative;

            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                transition: font-size 0.2s ease;
                color: white;
                font-size: 1.8vw;

                &:hover {
                    font-size: 2.2vw;
                }
            }
            div {
                overflow: hidden;
                transition: all 0.2s ease;
                filter: brightness(0.6);
                &:hover {
                    transform: scale(1.5);
                    filter: brightness(0.5);
                }
                img {
                    width: 100%;
                    display: flex;
                    margin-bottom: 10%;
                    overflow: hidden;
                    margin: 0 auto;
                }
            }
        }
    }
}