@media screen and (min-width: 768px) {
    .header {
        padding: 2% 0;
        .topNavContent {
            img:nth-child(1), img:nth-child(3){
                width: 11%;
            }
        }
    }

    #homeServices {
        .homeServText {
            width: 80%;
            margin: 0 auto;
        }
        .homeServIcons {
            display: flex;
            flex-wrap: wrap;
            width: 85%;

            div {
                width: 43%;
                margin: 3% auto;
            }
        }


    }


    #homeProjects {
        h2 {
            width: 22%;
            line-height: 4vw;
        }
        .homeProjectSlide {
            .projectSlick {
                margin: 0 auto 13%;
                width: 70%;
            }
        }

        .homeProjBtn {
            width: 24%;
            border-radius: 1vw;
            padding: 2.5% 0;
        }
    }

    .slick-dots {
        margin-top: -10%;
    }

    .slick-dots li button::before {
        font-size: 6vw;
    }

    #homeCTA {
        padding: 3% 0;
        .homeCTABtn {
                width: 24%;
                border-radius: 1vw;
                padding: 2.5% 0;
        }
    }
}

@media screen and (min-width: 1366px) {
    .header {
        padding: 0.5% 0;
        .topNavContent {
            width: 90%;
            img:nth-child(1), img:nth-child(3){
                width: 5%;
            }

            img:nth-child(1) {
                margin-top: 1%;
            }

            h2 {
                margin-top: 2.2%;
            }
        }
    }


    #homeServices {
        display: flex;
        width: 90%;
        margin: 10% auto 0;

        .homeServText {
            display: flex;
            flex-direction: column;

            h2, h3, p {
                width: 70%;
            }

            p:nth-child(4) {
                display: block;
                margin-top: 5%;
            }
        }

        .homeServIcons {
            margin-top: 0;

            div {
                margin-top: 0;
            }
        }
    }
}