@media screen and (min-width: 768px) {
    .header {
        padding: 2% 0;
        .topNavContent {
            justify-content: space-between;
            width: 90%;
            img:nth-child(1), img:nth-child(3){
                width: 9%;
            }

            img:nth-child(1) {
                width: 6% !important;
                margin-top: 3%;
            }

            h2 {
                margin-top: 3%;
                font-size: 4vw;
            }
        }

        nav {
            ul {
                li {
                    margin: 16% 0;
                    a {
                        font-size: 6vw;
                    }
                }
            }
        }
    }

    #slideshow {
        h2 {
            font-size: 7vw;
            line-height: 8.6vw;
        }

        p {
            font-size: 4vw;

        }
    }

    #homeServices {
        .homeServText {
            width: 80%;
            margin: 0 auto;

            h2 {
                font-size: 3.8vw;
                font-weight: 500;

                &::after {
                    height: 3px;
                }
            }

            p {
                font-size: 2.4vw;
                line-height: 3vw;
            }
        }
        .homeServIcons {
            display: flex;
            flex-wrap: wrap;
            width: auto;
            padding: 0 17%;
            margin-top: 5%;

            div {
                width: 44%;
                margin: 2.5% auto;
                border-radius: 4vw;
                padding: 5% 0 7%;
                background-color: transparent !important;

                img {
                    width: 50%;
                }

                h3 {
                    font-size: 2.3vw;
                    margin-top: 12%;
                }
            }
        }
    }

    #homeTestimonials {
        .testimonialSlick {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        p {
                            margin: 2% 0 4%;
                            font-size: 3vw;
                            width: 73%;
                            line-height: 3.6vw;
                        }

                        h3 {
                            font-size: 2.6vw;
                            margin-bottom: 2%;

                            &::after {
                                top: 155%;
                            }
                        }
                    }
                }
            }
        }
    }


    #homeProjects {
        margin-top: 15%;
        h2 {
            width: 100%;
            font-size: 3.8vw;

            &::after {
                height: 3px;
            }
        }
        .homeProjectSlide {
            h3 {
                font-size: 2.3vw;
            }

            .projectSlick {
                margin: 0 auto 13%;
                width: 60%;
            }

            .slick-list {
                border-radius: 3vw;
            }

            .slick-dots li button::before {
                font-size: 4vw;
            }
        }

        .homeProjBtn {
            width: 22%;
            border-radius: 1vw;
            padding: 2.5% 0;
            font-size: 2.3vw;
        }
    }

    .slick-dots {
        margin-top: -10%;
    }

    .slick-dots li button::before {
        font-size: 6vw;
        left: auto;
    }

    #homeCTA {
        padding: 6% 0;

        h4 {
            margin-bottom: 3%;
            font-size: 2.8vw;
        }
        .homeCTABtn {
            width: 22%;
            border-radius: 1vw;
            padding: 2.1% 0 2.5%;
            font-size: 2.3vw;
        }
    }
}

@media screen and (min-width: 1366px) {
    .header {
        padding: 1% 0;
        .topNavContent {
            width: 80%;
            img:nth-child(1), img:nth-child(3){
                width: 4.5%;
            }

            img:nth-child(1) {
                margin-top: 1%;
                width: 3% !important;
            }

            h2 {
                margin-top: 1%;
                font-size: 2.3vw;
            }
        }

        span {
            font-size: 3vw;
            top: 3%;
            right: 3%;
        }

        nav {
            ul {
                li {
                    margin: 10% 0;

                    a {
                        font-size: 3.4vw;

                        &:hover {
                            border-width: 4px;
                        }
                    }
                }
            }
        }
    }


    #homeServices {
        display: flex;

        .homeServText {
            display: flex;
            flex-direction: column;

            h2, h3, p {
                width: 70%;
            }

            p:nth-child(4) {
                display: block;
                margin-top: 5%;
            }
        }

        .homeServIcons {
            margin-top: 0;

            div {
                margin-top: 0;

                img {
                    width: 59%;
                    margin: 0 auto;
                }
            }
        }
    }

    #services {
        .servicesCon {
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            margin: 0 auto;

            .serviceItem {
                width: 28%;
                margin: 0 auto 6%;
                background-color: rgba(231,231,231,.322);
                border-radius: 1vw;
                padding-bottom: 2%;
                box-shadow: 0px .5rem 1.5rem rgba(0,0,0,.3);
                height: auto;
                transition: height .4s ease;
                overflow: hidden;

                .banner {
                    border-radius: 1vw 1vw 0vw 0vw;
                    padding: 0;

                    &:hover {
                        padding: 4% 0;
                    }

                    img {
                        width: 26%;
                        transform: translateY(50%);
                    }
                }

                h3 {
                    font-size: 1.2vw;
                }

                p {
                    line-height: 1vw;
                }
            }
        }
    }
}

@media screen and (min-width: 1680px) {
    #homeServices {
        width: 90%;
        margin: 7% auto 0;
        .homeServIcons {
            justify-content: center;
            width: 65%;
            padding: 0;
            div {
                margin-top: 0;
                margin-left: 3%;
                margin-right: 3%;
                width: 38%;
                padding: 5% 0 7%;
                margin-bottom: 5%;
                border-radius: 2vw;

                img {
                    width: 42%;
                }

                h3 {
                    font-size: 1.2vw;

                    &::after {
                        height: 3px;
                        top: 155%;
                    }
                }
            }
        }

        .homeServText {
            width: 65%;
            h2 {
                font-size: 2.4vw;
                margin-bottom: 3%;

                &::after {
                    height: 3px;
                    top: 140%;
                }
            }

            p {
                font-size: 1.1vw;
                line-height: 1.5vw;
            }
        }
    }



    #projects {
        .projectsCon {
            display: flex;
                flex-wrap: wrap;
                width: 60%;
                margin: 10% auto 0;
                justify-content: center;
                flex-direction: row;
            .project {
                width: 31%;
                overflow: hidden;
                margin: 0 1% 2% 0;
                display: inline-block;
                text-align: center;
                position: relative;
                cursor: pointer;
    
                h3 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    transition: font-size 0.2s ease;
                    color: white;
                    font-size: 1.8vw;
    
                    &:hover {
                        font-size: 2.2vw;
                    }
                }
                div {
                    overflow: hidden;
                    transition: all 0.2s ease;
                    filter: brightness(0.6);
                    &:hover {
                        transform: scale(1.5);
                        filter: brightness(0.5);
                    }
                    img {
                        width: 100%;
                        display: flex;
                        margin-bottom: 10%;
                        overflow: hidden;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}