@media screen and (min-width: 768px) {
    .header {
        padding: 2% 0;
        .topNavContent {
            img:nth-child(1), img:nth-child(3){
                width: 11%;
            }
        }
    }

    #homeServices {
        .homeServText {
            width: 80%;
            margin: 0 auto;
        }
        .homeServIcons {
            display: flex;
            flex-wrap: wrap;
            width: 85%;

            div {
                width: 43%;
                margin: 3% auto;
            }
        }


    }


    #homeProjects {
        h2 {
            width: 22%;
            line-height: 4vw;
        }
        .homeProjectSlide {
            .projectSlick {
                margin: 0 auto 13%;
                width: 70%;
            }
        }

        .homeProjBtn {
            width: 24%;
            border-radius: 1vw;
            padding: 2.5% 0;
        }
    }

    .slick-dots {
        margin-top: -10%;
    }

    .slick-dots li button::before {
        font-size: 6vw;
        left: auto;
    }

    #homeCTA {
        padding: 3% 0;
        .homeCTABtn {
                width: 24%;
                border-radius: 1vw;
                padding: 2.5% 0;
        }
    }
}

@media screen and (min-width: 1366px) {
    .header {
        padding: 0.5% 0;
        .topNavContent {
            width: 90%;
            img:nth-child(1), img:nth-child(3){
                width: 5%;
            }

            img:nth-child(1) {
                margin-top: 1%;
            }

            h2 {
                margin-top: 2.2%;
            }
        }
    }


    #homeServices {
        display: flex;

        .homeServText {
            display: flex;
            flex-direction: column;

            h2, h3, p {
                width: 70%;
            }

            p:nth-child(4) {
                display: block;
                margin-top: 5%;
            }
        }

        .homeServIcons {
            margin-top: 0;

            div {
                margin-top: 0;

                img {
                    width: 59%;
                    margin: 0 auto;
                }
            }
        }
    }

    #services {
        .servicesCon {
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            margin: 0 auto;

            .serviceItem {
                width: 28%;
                margin: 0 auto 6%;
                background-color: rgba(231,231,231,.322);
                border-radius: 1vw;
                padding-bottom: 2%;
                box-shadow: 0px .5rem 1.5rem rgba(0,0,0,.3);
                height: auto;
                transition: height .4s ease;
                overflow: hidden;

                .banner {
                    border-radius: 1vw 1vw 0vw 0vw;
                    padding: 0;

                    &:hover {
                        padding: 4% 0;
                    }

                    img {
                        width: 26%;
                        transform: translateY(50%);
                    }
                }

                h3 {
                    font-size: 1.2vw;
                }

                p {
                    line-height: 1vw;
                }
            }
        }
    }
}

@media screen and (min-width: 1680px) {
    #homeServices {
        width: 90%;
        margin: 7% auto 0;
        .homeServIcons {
            justify-content: center;
            width: 65%;
            div {
                margin-top: 0;
                margin-left: 3%;
                margin-right: 3%;
                width: 40%;
            }
        }

        .homeServText {
            width: 65%;
        }
    }



    #projects {
        .projectsCon {
            display: flex;
                flex-wrap: wrap;
                width: 60%;
                margin: 10% auto 0;
                justify-content: center;
                flex-direction: row;
            .project {
                width: 31%;
                overflow: hidden;
                margin: 0 1% 2% 0;
                display: inline-block;
                text-align: center;
                position: relative;
                cursor: pointer;
    
                h3 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    transition: font-size 0.2s ease;
                    color: white;
                    font-size: 1.8vw;
    
                    &:hover {
                        font-size: 2.2vw;
                    }
                }
                div {
                    overflow: hidden;
                    transition: all 0.2s ease;
                    filter: brightness(0.6);
                    &:hover {
                        transform: scale(1.5);
                        filter: brightness(0.5);
                    }
                    img {
                        width: 100%;
                        display: flex;
                        margin-bottom: 10%;
                        overflow: hidden;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}