@media screen and (min-width: 375px) {
    #slideshow {
        p {
            font-size: 5vw;
        }
    }

    #homeProjects {
        .homeProjBtn {
            width: 45%;
        }
    }

    #homeServices {
        .homeServText {
            h2 {
                font-size: 5.4vw;

                &::after {
                    top: 160%;
                }
            }

            p {
                font-size: 4vw;
            }
        }

        .homeServIcons {
            div {
                width: 75%;
                h3 {
                    font-size: 4.6vw;
                }

                img {
                    width: 55%;
                }
            }
        }
    }

    #homeTestimonials {
        .testimonialSlick {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        p {
                            font-size: 4vw;
                            line-height: 4.2vw;
                        }
                    }
                }
            }
        }
    }

    #about {
        .aboutHeader {
            height: 30vh;
        }
        .aboutCon {
            #aboutInfo {
                div {
                    h3 {
                        font-size: 5.6vw;
                    }

                    p {
                        font-size: 3.8vw;
                        line-height: 4.6vw;
                    }
                }
            }

            #aboutCta {
                div {
                    h3 {
                        font-size: 5.6vw;
                    }

                    p {
                        font-size: 3.8vw;
                        line-height: 4.6vw;
                    }
                }
            }

            #aboutServices {
                .aboutServicesCon {
                    .aboutServiceContent {
                        height: 45vh;
                        h4 {
                            font-size: 6vw;
                            &::after {
                                width: 20%;
                            }
                        }

                        p {
                            font-size: 4vw;
                        }
                    }
                }
            }
        }
    }

    #projects {
        .projectsCon {
            .project {
                div {
                    img {
                        height: 300px;
                    }
                }
            }
        }
    }

    #services {
        .servicesHeader {
            height: 35vh;
        }

        .servicesCon {
            .serviceInfo {
                h3 {
                    font-size: 5.6vw;
                }

                p {
                    font-size: 3.9vw;
                    line-height: 4.4vw;
                }
            }

            .serviceItem {
                padding-bottom: 0;
                height: 465px;

                .banner {
                    height: 170px;

                    img {
                        width: 26%;
                    }
                }

                h3 {
                    font-size: 5.6vw;
                }

                p {
                    line-height: 4.8vw;
                    font-size: 3.9vw;
                }
            }
        }
    }

    #contact {
        .contactInfo {
            padding: 6% 0;
            div {
                a {
                    h3 {
                        font-size: 4.4vw;
                    }
                }
            }
        }

        .contactCon {
            .formWrapper {
                form {
                    .contactInput {
                        input {
                            font-size: 4.8vw;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 414px) {
    #projects {
        .projectsCon {
            .project {
                div {
                    img {
                        height: 350px;
                    }
                }
            }
        }

        .lbCon {
            .projLb {
                .lbMain {
                    p {
                        font-size: 3.8vw;
                        line-height: 4.6vw;
                    }
                }
            }
        }
    }

    #services {
        .servicesCon {
            height: 440px;
            .serviceItem {
                width: 75%;
                .banner {
                    height: 130px;
                }

                p {
                    width: 75%;
                    line-height: 4.4vw;
                    font-size: 3.6vw;
                    width: 75%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 650px) {
    .header {
        padding: 2% 0;
        .topNavContent {
            justify-content: space-between;
            width: 90%;
            img:nth-child(1), img:nth-child(3){
                width: 9%;
                margin-top: 1%;
            }

            img:nth-child(1) {
                width: 6% !important;
                margin-top: 2%;
            }

            h2 {
                margin-top: 2%;
                font-size: 4vw;
            }
        }

        nav {
            ul {
                li {
                    margin: 16% 0;
                    a {
                        font-size: 6vw;
                    }
                }
            }
        }
    }

    #slideshow {
        h2 {
            font-size: 7vw;
            line-height: 8.6vw;
        }

        p {
            font-size: 4vw;

        }
    }

    #homeServices {
        .homeServText {
            width: 80%;
            margin: 0 auto;

            h2 {
                font-size: 3.8vw;
                font-weight: 500;

                &::after {
                    height: 3px;
                }
            }

            p {
                font-size: 2.4vw;
                line-height: 3vw;

                &:nth-child(3) {
                    margin-top: 10%;
                }
            }
        }
        .homeServIcons {
            display: flex;
            flex-wrap: wrap;
            width: auto;
            padding: 0 17%;
            margin-top: 8%;

            div {
                width: 44%;
                margin: 2.5% auto;
                border-radius: 4vw;
                padding: 5% 0 7%;
                background-color: transparent !important;

                img {
                    width: 50%;
                }

                h3 {
                    font-size: 2.3vw;
                    margin-top: 12%;
                }
            }
        }
    }

    #homeTestimonials {
        margin: 16% 0;
        .testimonialSlick {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        p {
                            margin: 2% 0 4%;
                            font-size: 3vw;
                            width: 73%;
                            line-height: 3.6vw;
                        }

                        h3 {
                            font-size: 2.6vw;
                            margin-bottom: 2%;

                            &::after {
                                top: 155%;
                            }
                        }
                    }
                }
            }
        }
    }


    #homeProjects {
        margin-top: 15%;
        h2 {
            width: 100%;
            font-size: 3.8vw;

            &::after {
                height: 3px;
            }
        }

        #macy {
            width: 70%;
            .box {
                &:nth-child(n+4) {
                    display: block;
                }
            }
        }

        .homeProjBtn {
            width: 22%;
            border-radius: 150vw;
            padding: 2.5% 0;
            font-size: 2.3vw;
        }
    }

    .slick-dots {
        margin-top: -10%;
    }

    .slick-dots li button::before {
        font-size: 6vw;
        left: auto;
    }

    #homeCTA {
        padding: 6% 0;

        h4 {
            margin-bottom: 3%;
            font-size: 2.8vw;
        }
        .homeCTABtn {
            width: 22%;
            border-radius: 150vw;
            padding: 2.1% 0 2.5%;
            font-size: 2.3vw;
        }
    }

    #about {
        .aboutHeader {
            height: 35vh;
        }

        .aboutCon {
            #aboutInfo {
                div {
                    img {
                        width: 90%;
                    }

                    h3 {
                        font-size: 4vw;
                    }

                    h4 {
                        font-size: 2.8vw;
                    }

                    p {
                        font-size: 2.4vw;
                        line-height: 2.8vw;
                        width: 90%;
                    }
                }
            }

            #aboutServices {
                .aboutServicesCon {
                    .aboutServiceContent {
                        h4 {
                            font-size: 4vw;

                            &::after {
                                width: 20%;
                            }
                        }

                        p {
                            font-size: 2.8vw;
                            line-height: 3vw;
                            width: 75%;
                            margin: 0 auto;
                        }
                    }
                }

                .aboutServiceBtns {
                    padding: 0 8%;
                    justify-content: space-evenly;

                    div {
                        width: 30%;
                        margin-top: 5%;

                        &.highlighted {
                            border-radius: 2vw;
                        }
                    }
                }
            }

            #aboutCta {
                div {
                    img {
                        width: 90%;
                    }

                    h3 {
                        font-size: 4vw;
                    }

                    p {
                        font-size: 2.4vw;
                        line-height: 2.8vw;
                        width: 90%;
                    }

                    a {
                        width: 30%;
                        padding: 3% 0 3%;
                        font-size: 2.6vw;
                    }
                }
            }
        }
    }

    #projects {
        .lbCon {
            .projLb {
                margin: 1rem;

                .lbTop {
                    h2 {
                        font-size: 3vw;
                    }

                    span {
                        font-size: 2.6vw;
                    }
                }

                .lbMain {
                    h2 {
                        font-size: 5vw;
                    }

                    h3 {
                        margin-top: 8%;
                        font-size: 2.4vw;
                    }

                    .lbSlick {
                        width: 80%;

                        .slick-list {
                            .slick-track {
                                height: 43vh;
                            }
                        }
                    }

                    p {
                        font-size: 2.4vw;
                        line-height: 2.8vw;
                        width: 80%;
                    }
                }
            }
        }
        .projectHeader {
                height: 35vh;
                margin-bottom: 5%;
        }

        .filterBtns {
            margin-top: 0;
            padding: 0 10%;

            div {
                font-size: 2.1vw;
                width: 20%;
                padding: 3.2% 1.2% 3%;
            }
        }
        .projectsCon {
            margin-bottom: 5%;
            margin-top: 2%;
            flex-direction: row;
            flex-wrap: wrap;
            .project {
                width: 47%;
                margin: 3% auto 0;

                &:hover {
                    h3 {
                        font-size: 4.6vw;
                    }
                }

                h3 {
                    font-size: 4vw;
                }

                div {
                    img {
                        width: 100%;
                        height: 300px;
                    }
                }
            }
        }
    }

    #services {
        .servicesHeader {
            height: 35vh;
        }
        .servicesCon {
            display: flex;
            flex-wrap: wrap;
            width: 92%;
            margin: 0 auto 5%;
            .serviceInfo {
                h3 {
                    font-size: 3.8vw;
                    &::after {
                        height: 3px;
                    }
                }

                p {
                    width: 72%;
                    font-size: 2.4vw;
                    line-height: 2.8vw;
                    margin: 8% auto 12%;
                }
            }

            .serviceItem {
                width: 45%;
                padding-bottom: 0;
                height: 54vh;
                margin-bottom: 6%;

                .banner {
                    height: 15vh;
                    img {
                        width: 27%;
                    }
                }

                h3 {
                    font-size: 3.2vw;
                }

                p {
                    padding: 0;
                    line-height: 2.6vw;
                    font-size: 2.2vw;
                    width: 70%;
                    margin: 9% auto 0;
                }
            }
        }
    }

    #contact {
        .contactHeader {
            height: 35vh;
        }

        .contactInfo {
            padding: 2% 0;
            div {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;

                #contEmail {
                    &::before {
                        width: 65px;
                    }
                }

                #contPhone {
                    &::before {
                        width: 40px;
                        position: relative;
                        right: 13%;
                        margin-left: 0;
                        padding-right: 0;
                    }
                }
                a {
                    h3 {
                        font-size: 3vw;
                    }
                }
            }
        }

        .contactCon {
            .formWrapper {
                form {
                    .contactInput {
                        width: 60%;

                        input, textarea {
                            font-size: 3vw;
                        }
                    }

                    button {
                        width: 25%;
                        padding: 2% 0 2%;
                        font-size: 3vw;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 1% 0;
        .topNavContent {
            width: 80%;
            img:nth-child(1), img:nth-child(3){
                width: 6%;
                margin-top: 0;
            }

            img:nth-child(1) {
                margin-top: 0.5%;
                width: 4% !important;
            }

            h2 {
                margin-top: 1%;
                font-size: 2.3vw;
            }
        }

        span {
            font-size: 3vw;
            top: 3%;
            right: 3%;
        }

        nav {
            ul {
                li {
                    margin: 10% 0;

                    a {
                        font-size: 3.4vw;

                        &:hover {
                            border-width: 4px;
                        }
                    }
                }
            }
        }
    }

    #slideshow {
        h2 {
            font-size: 5.6vw;
            width: 80%;
            margin: 0 auto;
            line-height: 5.6vw;
        }

        p {
            font-size: 1.8vw;
        }
    }


    #homeServices {
        display: flex;
        margin-top: 10%;

        .homeServText {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0;
            overflow: hidden;

            h2, h3, p {
                width: 70%;
            }

            h2 {
                font-size: 2.4vw;
                margin-top: 2%;
            }

            p {
                font-size: 1.3vw;
                line-height: 1.5vw;
                width: 65%;
            }

            p:nth-child(3) {
                margin-top: 6%;
            }

            p:nth-child(4) {
                display: block;
                margin-top: 5%;
            }
        }

        .homeServIcons {
            margin-top: 0;
            padding: 0;
            width: 36%;

            div {
                margin-top: 0;
                width: 40%;
                margin: 2.5% auto;
                border-radius: 2vw;
                padding: 6% 2% 8%;
                transform: scale(0);

                img {
                    width: 55%;
                    margin: 0 auto;
                }

                h3 {
                    font-size: 1.3vw;
                }
            }
        }
    }

    #homeTestimonials {
        margin: 10% 0 0;
        .testimonialSlick {
            background-attachment: fixed;
            .slick-list {
                padding: 3% 0;
                .slick-track {
                    .slick-slide {
                        p {
                            margin: 0 0 3%;
                            font-size: 1.4vw;
                            line-height: 1.8vw;
                            width: 65%;
                        }

                        h3 {
                            font-size: 1.8vw;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    #homeProjects {
        margin-top: 10%;
        h2 {
            font-size: 2.6vw;
            margin-bottom: 8%;
        }

        .homeProjBtn {
            width: 13%;
            padding: 1.5% 0;
            font-size: 1.3vw;
            margin: 4% auto 0;
        }
    }

    #homeCTA {
        margin-top: 10%;

        h4  {
            font-size: 2.4vw;
            margin-bottom: 0;
        }

        .homeCTABtn {
            width: 13%;
            padding: 1.5% 0;
            font-size: 1.3vw;
            margin: 3% auto 0;
        }
    }

    #services {
        .servicesHeader {
            margin-bottom: 6%;
            h2 {
                font-size: 4.6vw;
            }                
        }
        .servicesCon {
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            margin: 0 auto;

            .serviceInfo {
                h3 {
                    font-size: 2.4vw;

                    &::after {
                        width: 8%;
                    }
                }

                p {
                    width: 55%;
                    font-size: 1.3vw;
                    line-height: 1.6vw;
                    margin: 6% auto 10%;
                }
            }

            .serviceItem {
                width: 28%;
                margin: 0 auto 6%;
                background-color: rgba(231,231,231,.322);
                border-radius: 1.6vw;
                padding-bottom: 4%;
                box-shadow: 0px .5rem 1.5rem rgba(0,0,0,.3);
                height: auto;
                transition: height .4s ease;
                overflow: hidden;

                .banner {
                    border-radius: 1.6vw 1.6vw 0vw 0vw;
                    padding: 0;
                    height: 19vh;
                    margin-bottom: 25%;

                    &:hover {
                        padding: 8% 0;
                    }

                    img {
                        width: 26%;
                        transform: translateY(50%);
                    }
                }

                h3 {
                    font-size: 1.4vw;

                    &::after {
                        width: 12%;
                    }
                }

                p {
                    line-height: 1.4vw;
                    font-size: 1.2vw;
                    width: 75%;
                }
            }
        }
    }

    #about {
        .aboutHeader {
            h2 {
                font-size: 5vw;
            }
        }
        .aboutCon {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 0 5%;
            #aboutInfo {
                width: 40%;
                margin: 0;

                .aboutInfoCon {
                    display: flex;
                    flex-direction: column;

                    .aboutInfoContent {
                        h3 {
                            font-size: 2vw;
                        }

                        h4 {
                            display: none;
                        }

                        p {
                            font-size: 1.2vw;
                            line-height: 1.4vw;
                            width: 100%;
                            margin-top: 4%;
                        }
                    }

                    img {
                        border-radius: 0;
                        width: 100%;
                    }
                }
            }

            #aboutCta {
                width: 40%;
                margin: 0;
                .aboutCtaCon {
                    display: flex;
                    flex-direction: column;
                    .aboutCtaContent {
                        h3 {
                            font-size: 2vw;
                        }

                        p {
                            font-size: 1.2vw;
                            line-height: 1.4vw;
                            width: 100%;
                        }
                    }
                    img {
                        border-radius: 0;
                        width: 100%;
                    }
                }
            }

            #aboutServices {
                margin-top: 4%;
                width: 100%;
                padding: 0;
                margin-bottom: 10%;
                .aboutServicesCon {
                    width: 100%;
                    padding: 8% 0;
                    display: flex;
                    justify-content: center;
                    .aboutServiceContent {
                        width: 50%;
                        height: auto;
                        overflow: auto;
                        -ms-overflow-style: none;  /* IE and Edge */
                        scrollbar-width: none;  /* Firefox */

                        &::-webkit-scrollbar {
                            display: none;
                          }
                        h4 {
                            font-size: 2.6vw;
                            padding-top: 0;
                            margin-bottom: 0;
                            &::after {
                                width: 8%;
                                top: 120%;
                            }
                        }

                        p {
                            font-size: 1.3vw;
                            line-height: 1.5vw;
                            width: 80%;
                            margin-top: 6%;
                        }
                    }

                    .aboutServiceBtns {
                        padding: 0;
                        width: 30%;
                    }
                }
            }
        }
    }

    .slick-dots li button::before {
        font-size: 3vw;
        left: auto;
    }

    #projects {
        .projectHeader {
            h2 {
                font-size: 4.6vw;
            }
        }

        .lbCon {
            .projLb {
                margin: 2rem 6rem;
                border-radius: 0.5vw;
                max-height: calc(100vh - 4rem);

                .lbTop {
                    padding: 1rem 3rem;
                    border-width: 2px;

                    h2 {
                        font-size: 2vw;
                    }

                    span {
                        font-size: 1.8vw;
                    }
                }

                .lbMain {
                    margin-top: 4%;
                    h2 {
                        margin-bottom: 5%;
                        font-size: 2.6vw;
                        &::after {
                            width: 7%;
                        }
                    }

                    h3 {
                        display: none;
                    }

                    .lbSlick {
                        width: 60%;

                        .slick-list {
                            .slick-track {
                                height: 60vh;
                            }
                        }
                    }

                    p {
                        font-size: 1.3vw;
                        line-height: 1.6vw;
                        width: 60%;
                        margin-top: 9%;
                    }

                    p:nth-child(5) {
                        margin-top: 2%;
                        margin-bottom: 4%;
                    }
                }
            }
        }

        .filterBtns {
            width: 60%;
            margin: 0 auto;
            padding: 0;

            div {
                font-size: 1.1vw;
                padding: 2.3% 0.2% 2%;
                margin: 0 2% 2%;
            }
        }
        .projectsCon {
            display: flex;
                flex-wrap: wrap;
                width: 60%;
                margin: 2% auto 0;
                justify-content: center;
                flex-direction: row;
            .project {
                width: 30%;
                overflow: hidden;
                margin: 0 auto 3%;
                display: inline-block;
                text-align: center;
                position: relative;
                cursor: pointer;
                border-radius: 2vw;

                &:hover {
                    h3 {
                        font-size: 2.2vw;
                    }
                }
    
                h3 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    transition: font-size 0.2s ease;
                    color: white;
                    font-size: 1.8vw;
                }
                div {
                    overflow: hidden;
                    transition: all 0.2s ease;
                    filter: brightness(0.6);
                    &:hover {
                        transform: scale(1.5);
                        filter: brightness(0.5);
                    }
                    img {
                        width: 100%;
                        display: flex;
                        margin-bottom: 10%;
                        overflow: hidden;
                        margin: 0 auto;
                        height: 32vh;
                    }
                }
            }
        }
    }

    #contact {
        .contactHeader {
            h2 {
                font-size: 4vw;
            }
        }

        .contactInfo {
            padding: 0.5% 0 0;
            margin-bottom: 3%;

            div {
                width: 65%;
                flex-direction: row;
                justify-content: space-evenly;

                a {
                    h3 {
                        font-size: 1.8vw;
                    }
                }

                #contEmail {
                    &::before {
                        width: 60px;
                    }
                }

                #contPhone {
                    &::before {
                        width: 30px;
                    }
                }
            }
        }

        .contactCon {
            margin-bottom: 5%;
            .formWrapper {
                form {
                    .contactInput {
                        width: 35%;

                        &:focus-within {
                            div {
                                width: 65%;
                            }
                        }

                        div {
                            width: 30%;
                        }

                        input {
                            font-size: 1.6vw;
                        }

                        textarea {
                            font-size: 1.2vw;
                            height: 35vh;
                            width: 100%;
                            margin: 10% auto 0;

                            &:focus {
                                border-radius: 1vw;
                            }
                        }
                    }

                    button {
                        width: 13%;
                        padding: 1.5% 0;
                        font-size: 1.3vw;
                        margin: 3% auto 0;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1680px) {
    .header {
        .topNavContent {
            h2 {
                margin-top: 0.5%;
                font-size: 1.8vw;
            }

            img:nth-child(1), img:nth-child(3) {
                width: 5%;
            }

            img:nth-child(1) {
                width: 3% !important;
            }
        }
    }

    #slideshow {
        h2 {
            font-size: 5vw;
        }
    }
    #homeServices {
        width: 81%;
        margin: 7% auto 0;
        .homeServIcons {
            justify-content: center;
            width: 50%;
            padding: 0;
            div {
                margin-top: 0;
                margin-left: 3%;
                margin-right: 3%;
                width: 38%;
                padding: 5% 0 7%;
                margin-bottom: 5%;
                border-radius: 2vw;

                img {
                    width: 42%;
                }

                h3 {
                    font-size: 1.2vw;

                    &::after {
                        height: 3px;
                        top: 155%;
                    }
                }
            }
        }

        .homeServText {
            width: 60%;
            h2 {
                font-size: 2vw;
                margin-bottom: 3%;

                &::after {
                    height: 3px;
                    top: 140%;
                }
            }

            p {
                font-size: 1vw;
                line-height: 1.3vw;
            }
        }
    }

    #homeTestimonials {
        .testimonialSlick {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        p {
                            font-size: 1.2vw;
                            line-height: 1.4vw;
                            width: 60%;
                        }

                        h3 {
                            font-size: 1.4vw;
                        }
                    }
                }
            }
        }
    }

    #homeProjects {
        h2 {
            font-size: 2vw;
            margin-bottom: 5%;
        }

        #macy {
            width: 65%;
        }

        .homeProjBtn {
            width: 11%;
            padding: 1.5% 0;
            font-size: 1vw;
            margin: 4% auto 0;
        }
    }

    #homeCTA {
        h4 {
            font-size: 2vw;
        }

        .homeCTABtn {
            width: 11%;
            padding: 1.5% 0;
            font-size: 1vw;
        }
    }

    #about {
        .aboutHeader {
            h2 {
                font-size: 4vw;
            }
        }
        .aboutCon {
            #aboutCta {
                width: 35%;
                .aboutCtaCon {
                    .aboutCtaContent {
                        h3 {
                            font-size: 1.6vw;
                        }

                        p {
                            font-size: 1vw;
                            line-height: 1.2vw;
                        }
                    }
                }
            }

            #aboutServices {
                .aboutServicesCon {
                    width: 85%;
                    justify-content: space-between;

                    .aboutServiceContent {
                        h4 {
                            font-size: 2vw;
                            &::after {
                                top: 150%;
                            }
                        }

                        p {
                            margin-top: 10%;
                            width: 90%;
                            line-height: 1.2vw;
                            font-size: 1.1vw;
                        }
                    }

                    .aboutServiceBtns {
                        width: 35%;
                        margin-top: 0;

                        div:nth-child(1), div:nth-child(2) {
                            margin-bottom: 4%;
                        }

                        div {
                            width: 30%;
                            margin-top: 0;
                        }
                    }
                }
            }

            #aboutInfo {
                width: 35%;
                .aboutInfoCon {
                    .aboutInfoContent {
                        h3 {
                            font-size: 1.6vw;
                        }

                        p {
                            font-size: 1vw;
                            line-height: 1.2vw;
                        }
                    }
                }
            }
        }
    }

    .slick-dots {
        margin-top: -6%;

        li {
            button {
                &::before {
                    font-size: 2.4vw !important;
                }
            }
        }
    }

    #projects {
        .lbCon {
            .projLb {
                margin: 2rem 10rem;
                max-height: calc(100vh - 5rem);
                .lbTop {
                    h2 {
                        font-size: 1.6vw;
                    }

                    span {
                        font-size: 1.4vw;
                    }
                }

                .lbMain {
                    h2 {
                        font-size: 2vw;

                        &::after {
                            width: 4%;
                            height: 3px;
                            margin-bottom: 5%;
                        }
                    }

                    .lbSlick {
                        width: 60%;

                        .slick-list {
                            border-radius: 1vw;
                            .slick-track {
                                height: 600px;
                            }
                        }
                    }

                    p {
                        font-size: 1.1vw;
                        line-height: 1.3vw;
                        width: 50%;
                        margin-top: 10%;
                    }
                }
            }
        }

        .projectsCon {
            .project {
                div {
                    img {
                        height: 300px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1920px) {
    #projects {

        .filterBtns {
            width: 53%;
        }

        .projectsCon {
            width: 53%;

            .project {
                border-radius: 1vw;
                &:hover {
                    h3 {
                        font-size: 1.7vw;
                    }
                }
                h3 {
                    font-size: 1.5vw;
                }
            }
        }
    }
}